{{define footer}}
<!-- Navbar -->
<nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
    <ul class="navbar-nav container justify-content-md-center text-uppercase">
        <li class="nav-item mx-auto">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item mx-auto active font-weight-bold">
            <a class="nav-link" href="#">View</a>
        </li>
        <li class="nav-item mx-auto">
            <a class="nav-link" href="#">Settings</a>
        </li>
    </ul>
</nav>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/js/jquery-3.4.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}