{{define "index"}}
{{template "header"}}
<!-- Content -->
<div class="container-fluid">
	<div class="row">
		<!-- Stream frame -->
		<div class="card col p-0 mb-3">
			<img class="card-img-top" src="/stream" alt="Card image cap">
		</div>
		<!-- Emotion list -->
		<div class="col-lg-3 mb-5">
			<ul class="list-group text-center">
				<li class="list-group-item">
					<h6>Happy</h6>
					<div class="progress">
						<div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="list-group-item">
					<h6>Happy</h6>
					<div class="progress">
						<div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="list-group-item">
					<h6>Happy</h6>
					<div class="progress">
						<div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="list-group-item">
					<h6>Happy</h6>
					<div class="progress">
						<div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="list-group-item">
					<h6>Happy</h6>
					<div class="progress">
						<div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="list-group-item">
					<h6>Happy</h6>
					<div class="progress">
						<div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
				<li class="list-group-item">
					<h6>Happy</h6>
					<div class="progress">
						<div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
{{template "footer"}}
{{end}}