{{define "settings"}}
{{template "header"}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">WS Test</h1>
        <p class="lead" id="output"></p>
    </div>
</div>
<script>
    var output = document.getElementById("output");
    var socket = new WebSocket("ws://localhost:8080/ws");

    socket.onopen = function () {
        output.innerHTML += "Status: Connected\n";
    };

    socket.onmessage = function (e) {
        output.innerHTML += "Server: " + e.data + "\n";
    };
</script>
{{template "footer"}}
{{end}}